.browse-loans-page {
    text-align: center;
    padding-top: 20px; /* Adjust this padding as needed */
  }
  
  .title {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .subtitle {
    font-size: 1em;
    color: gray;
  }