.index__banner{
	width: 100%;
	height: 600px;
	position: relative;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.index__banner__content{
		position: absolute;
		top: 50px;
		left: 70px;
		height: auto;
		width: 420px;
		width: 600px;
		background-color: rgba(255, 255, 255, 0.7);
		border-radius: 20px;
		padding: 40px;
		@media (max-width: 767px) {
			width: 100%;
			left: 0;

		}
		.index__banner__content--inner{
			height: 100%;
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			h3{
				text-align: center;
				margin-bottom: 50px;
			}
			h6{
				margin-bottom: 30px;
			}
		}
	}
}

.borrower__section{
	.borrower__points--wrapper{
		margin-top: 70px;
		.borrower__point{
			display: flex;
			align-items: start;
			gap: 30px;
			margin-bottom: 20px;
			.number--circle--wrapper{
				display: flex;
				flex-direction: column;
				align-items: center;
			}
			.number--circle{
				width: 55px;
				height: 55px;
				background-color: #75227D;
				border-radius: 100%;
				color: #fff;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 24px;
				font-weight: bold;
			}
			.vertical--separator{
				height: 55px;
				width: 2px;
				margin-top: 8px;
				background-color: #000;
			}
			.borrower__point--content{
				text-align: left;
				.highlight{
					font-size: 24px;
					font-weight: bold;
					margin-bottom: 0;
				}
				.downplay{
					font-size: 20px;
					font-weight: bold;
					color: #9B9B9B;
				}

			}
		}
	}
}